body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    background-color: blue;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
}

.FLAT {
    font-size: 25px;
    font-weight: bolder;
    color: white;
}

.FLAT:hover {
    cursor: pointer;
    text-decoration: underline;
}

.FLAT2 {
    font-size: 15px;
    font-weight: bolder;
    color: white;

}

.FLAT2:hover {
    cursor: pointer;
    text-decoration: underline;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    /* height: 8%; */
    padding: 10px;
    /* background-color: aqua; */
}

.nav2ndcontent {
    width: 29%;
    display: flex;
    justify-content: space-between;
    /* background-color: black; */
}

.NEW {
    padding: 2PX;
    background-color: red;
}

.cards-parent {
    width: 70%;
    height: 95%;
    gap: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    /* flex-direction: column; */
    /* background-color: black; */
}

.card1 {
    height: 180px;
    width: 260px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}

.card2 {
    height: 180px;
    width: 260px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}

.card3 {
    height: 180px;
    width: 260px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}

.card4 {
    height: 180px;
    width: 260px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}

.card5 {
    height: 180px;
    width: 260px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}

.card6 {
    height: 180px;
    width: 260px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}

.text {
    width: 90%;
    display: flex;
    justify-content: space-between;
}





@media screen and (max-width:325px) and (max-height:608px) {
    .nav{
        width: 99%;
    }
    .nav2ndcontent{
        width: 54%;
    }
    .FLAT{
        font-size: 13px;
        font-weight: 700;
    }
    .FLAT2{
        font-size: 9px;
    }
    .mobile {
        height: 140px;
        width: 210px;
    }
}
@media screen and (min-width:330px) and (max-width:380px) and (max-height:610px) {
    .nav{
        width: 99%;
    }
    .nav2ndcontent{
        width: 55%;
    }
    .FLAT{
        font-size: 16px;
    }
    .FLAT2{
        font-size: 11px;
    }
    .mobile {
        height: 150px;
        width: 220px;
    }
}
@media screen and (min-width:388px) and (max-width:430px) {
    .nav{
        width: 99%;
    }
    .nav2ndcontent{
        width: 57%;
    }
    .FLAT{
        font-size: 17px;
    }
    .FLAT2{
        font-size: 13px;
    }
    .mobile {
        height: 140px;
        width: 210px;
    }
}
@media screen and (min-width:435px) and (max-width:775px) {
    .nav{
        width: 95%;
    }
    .nav2ndcontent{
        width: 40%;
    }
    .FLAT{
        font-size: 22px;
    }
    .FLAT2{
        font-size: 16px;
    }
    
    
    .mobile {
        height: 160px;
        width: 230px;
    }
}
@media screen and (min-width:776px) and (max-width:1026px) {
    .nav{
        width: 95%;
    }
    .nav2ndcontent{
        width: 38%;
    }
    .FLAT{
        font-size: 28px;
    }
    .FLAT2{
        font-size: 20px;
    }
    
    
    .mobile {
        height: 160px;
        width: 230px;
    }
}
@media screen and (min-width:1600px) and (max-width:2560px) {
    .nav{
        width: 60%;
         padding: 25px; 
        /* background-color: aqua; */
    }
    .nav2ndcontent{
        width: 46%;
    }
    .FLAT{
        font-size: 55px;
    }
    .FLAT2{
        font-size: 40px;
    }
    .cards-parent {
        width: 80%;
       height: 30%; 
        /* gap: 60px; */
        /* background-color: black; */
    }
  
}