body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* overflow: scroll; */
}
.main{
    width: 100vw;
    height: 100vh;
    background-color: white;
}
.navParent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8%;
    /* padding: 5px; */
    /* background-color: rgb(193, 63, 63); */
}
.backParent{
    display: flex;
}
.backParent:hover{
    cursor: pointer;
}
.back{
    font-size: 25px;
}
.back:hover{
    text-decoration: underline;
}
.copyFormat{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    /* padding: 5px;
    padding-left: 15px;
    padding-right: 15px; */
    border-radius: 10px;
    letter-spacing: 2px;
}
.copyFormat:hover{
    cursor: pointer;
}
.copy{
    font-size: 13px;
    font-weight: bold;
}
.sound{
    font-size: 25px;
}
.sound:hover{
    cursor: pointer;
    text-decoration: underline;
}
.fiveC{
    display: flex;
    /* flex-wrap: wrap; */
    width: 100%;
}
.BEEKEEPER{
    background-color: #f6e58d;
}
.color{
    width: 288px;
    height: 140px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    /* padding: .5%; */
}
.txt-align{
    color: white;
    font-weight: bold;
}
.Spiced{
    background-color: #ffbe76;
}
.Glamour{
    background-color: #ff7979;
}
.June{
    background-color: #badc58;
}
.Coastal{
    background-color: #dff9fb;
}
.fiveC2{
    display: flex;
    /* flex-wrap: wrap; */
    width: 100%;
}
.Turbo{
    background-color: #f9ca24;
}
.Jelly{
    background-color: #f0932b;
}
.Carmine{
    background-color: #eb4d4b;
}
.Apple{
    background-color: #6ab04c;
}
.Ice{
    background-color: #c7ecee;
}
.fiveC3{
    display: flex;
    /* flex-wrap: wrap; */
    width: 100%;
}
.Middle{
    background-color: #7ed6df;
}
.Helio{
    background-color: #e056fd;
}
.Fruit{
    background-color: #686de0;
}
.DeepK{
    background-color: #30336b;
}
.Eagle{
    background-color: #95afc0;
}
.fiveC4{
    display: flex;
    /* flex-wrap: wrap; */
    width: 100%;
}
.Green{
    background-color: #22a6b3;
}
.Steel{
    background-color: #be2edd;
}
.BLU{
    background-color: #4834d4;
}
.Deep{
    background-color: #130f40;
}
.Wizard{
    background-color: #535c68;
}
.footer{
    font-weight: bold;
    width: 98%;
    height: 8%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
}